{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background-color:RGB(245,245,245);">

    <header>
        <h1 class='top'><a class='login' href={% url 'index' %}>Freeshelf</a></h1>
        <div></div>
        <div class='userinfo'>
            <h3 class='top'><a class='login' href="{% url 'registration_register' %}">Register</a></h3>
            <h3 class='top'>|</h3>
            <h3 class='top'><a class='login' href="{% url 'auth_login' %}">Login</a></h3>
        </div>
    </header>

    <h3 class='categories'>
        {% for category in categories %}
            <span class='category'><a class='classesarestupid' href="{% url 'category-list' pk=category.pk %}"> {{ category }} </a></span>
        {% endfor %}
    </h3>

    {% block content %}{% endblock %}

</body>
</html>